@model discgolf_duels.Models.Competition

@{
    ViewData["Title"] = "Details";

    var registrations = ViewBag.Registrations as List<Registration>;
    var playings = ViewBag.Playings as List<Playing>;


            @functions {
    public string SumOfDigits(string throws, string par)
    {

        if (throws.Contains('0'))
        {
            return "Playing";
        }

        // Summera siffrorna i den första strängen
        int sumOfThrows = throws.Where(char.IsDigit).Sum(c => c - '0');

        // Summera siffrorna i den andra strängen (till exempel @model.course.par)
        int sumOfCoursePar = par.Where(char.IsDigit).Sum(c => c - '0');


        return (sumOfThrows - sumOfCoursePar).ToString();
    }

}
}

<h1>Details</h1>

<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course!.CourseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompetitionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompetitionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayerCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayerCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicUser!.DisplayName)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Play" asp-action="create" asp-route-id="@Model?.CompetitionId">Start competition</a> |
    <a asp-action="Edit" asp-route-id="@Model?.CompetitionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br>
<br>
@if (registrations != null)
{
     <div>
            <h4>Registrations</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Registration date
                        </th>
                    </tr>
                </thead>       
                <tbody>
    @foreach (var registration in registrations)
    {
                        <tr>
                            <td>
                                @registration.PublicUser!.DisplayName
                            </td>
                            <td>
                                @registration.RegisterDate
                            </td>
                            <td>
                                <a asp-controller="Registration" asp-action="Delete" asp-route-id="@registration.RegistrationId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>            
        </div>
    }
    <br>
<br>
@if (playings != null)
{
     <div>
            <h4>Standings</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Result
                        </th>
                        <th>
                            Group
                        </th>
                    </tr>
                </thead>       
                <tbody>
    @foreach (var playing in playings)
    {
                        <tr>
                            <td>
                                @playing.PublicUser?.DisplayName
                            </td>
                            <td>
                                @SumOfDigits(@playing.Par!, @playing.Play!.Course!.Par)
                            </td>
                            <td>
                                @playing.GroupNr
                            </td>
                            <td>
                <a asp-controller="Playing" asp-action="Edit" asp-route-id="@playing.PlayingId">Edit</a> |
                <a asp-controller="Playing" asp-action="Details" asp-route-id="@playing.PlayingId">Details</a> |
                <a asp-controller="Playing" asp-action="Delete" asp-route-id="@playing.PlayingId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>            
        </div>
        }

