@model IEnumerable<discgolf_duels.Models.Competition>

@{
    ViewData["Title"] = "Your Competitions";

}

<h1>Your Competitions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course!.CourseName)
                </td>
                <td>
                    @item.CompetitionDate.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CompetitionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CompetitionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CompetitionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
