@using Microsoft.AspNetCore.Identity
@model IEnumerable<discgolf_duels.Models.Competition>
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Competitions";
}

<h1>All competitions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompetitionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course!.CourseName)
                </td>
                <td>
                    @item.CompetitionDate.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-controller="Registration" asp-action="Create" asp-route-id="@item.CompetitionId">Register</a>
                    } |
                <a asp-action="PublicDetails" asp-route-id="@item.CompetitionId">Details</a>
            </td>
        </tr>
                }
    </tbody>
</table>
