@model IEnumerable<discgolf_duels.Models.Play>

@{
    ViewData["Title"] = "Index";
}

<h1>Play</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Competition.CompetitionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-controller="Playing" asp-action="Create" asp-route-id="@item.PlayId">Spela</a> |
                    <a asp-action="Details" asp-route-id="@item.PlayId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlayId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
