@model discgolf_duels.Models.Playing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Playing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicUser!.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublicUser!.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Par)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Par)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Play.Competition.CompetitionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Play.Competition.CompetitionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlayingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
