@model discgolf_duels.Models.Playing

@{
    ViewData["Title"] = "Edit";
    String par = Model.Par!;

    // Skriver ut strängen med par som en int array istället för bättre edits
    int[] parArray = new int[par.Length];

    for (int i = 0; i < par.Length; i++)
    {
        parArray[i] = int.Parse(par[i].ToString());
    }

}

<h1>@ViewBag.CompetitionName</h1>
<h2>@Model.PublicUser?.DisplayName</h2>
<h3>@ViewBag.CourseName</h3>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlayingId" />
            <div class="form-group">
                <input asp-for="PlayId" type="hidden" class="form-control" />
                <span asp-validation-for="PlayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Par" type="hidden" class="form-control" id="ParInput" />
                <span asp-validation-for="Par" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PublicUserId" type="hidden" class="form-control" />
                <span asp-validation-for="PublicUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupNr" class="control-label"></label>
                <input asp-for="GroupNr" class="form-control" />
                <span asp-validation-for="GroupNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save score card" class="btn btn-primary mb-3 mt-3" />
            </div>
        </form>
    </div>
</div>


<div class="card">
    <div class="card-header">
        Score Card
    </div>
    <div class="card-body">
        @for (int i = 0; i < parArray.Length; i++)
        {
            <div class="mb-3 row justify-content-center">
                <label class="col-3 col-form-label"><b>Basket: @(i+1)</b></label>
                <div class="col-3">
                    <input type="number" min="0" max="9" class="form-control parArrayInput" onchange="updatePar()"
                        value="@parArray[i]">
                </div>
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to your rounds</a> |
    @if (ViewBag.CompetitionId != 0)
    {
        <a asp-controller="Competition" type="button" asp-action="Details" asp-route-id="@ViewBag.CompetitionId">Back to
            competition</a>
    }
</div>

<script>
    //Javascript med addEventListener för att hantera och skapa sträng av inmatade par.
    function updatePar() {
        var parArrayInputs = document.getElementsByClassName('parArrayInput');
        let parString = "";
        for (var i = 0; i < parArrayInputs.length; i++) {
            parString = parString + parArrayInputs[i].value;
        }

        console.log(parString);
        document.getElementById('ParInput').value = parString;
    }

    document.getElementById('editForm').addEventListener('submit', function (event) {
        updatePar();
    });

</script>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
