@using Microsoft.AspNetCore.Identity
@model IEnumerable<discgolf_duels.Models.Playing>
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";



    @functions {
    public string SumOfDigits(string throws, string par)
    {

        if (throws.Contains('0'))
        {
            return "Playing";
        }

        // Summera siffrorna i den första strängen
        int sumOfThrows = throws.Where(char.IsDigit).Sum(c => c - '0');
        
        // Summera siffrorna i den andra strängen (till exempel @model.course.par)
       int sumOfCoursePar = par.Where(char.IsDigit).Sum(c => c - '0');


        return (sumOfCoursePar - sumOfThrows).ToString();
    }

}
}

<div class="text-center">
    <h1 class="display-4">Disc golf Duels</h1>
        <hr />
@if (SignInManager.IsSignedIn(User))
{
    
        <h2>Play course</h2>
        <div class=" row justify-content-center">
            <div class="col-md-4">
                <form asp-controller="Play" asp-action="CreateSingle">
                    <div class="form-group">
                        <label for="PlayId" class="control-label"></label>
                        <select id="PlayId" name="PlayId" a class="form-control" asp-items="ViewBag.PlayId"></select>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Play" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        }



<div class="mt-5">
        <h2>All played rounds</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublicUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Par)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Play!.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublicUser!.DisplayName)
            </td>
            <td>
                 @item.RegisterDate.ToString("yyyy-MM-dd HH:mm")
            </td>
            <td>
                @SumOfDigits(item.Par!, item.Play!.Course!.Par)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Play!.Course!.CourseName)
            </td>
        </tr>
}
    </tbody>
</table>
</div>