@model IEnumerable<discgolf_duels.Models.PublicUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PDGA_Nr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDGA_Nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicUserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicUserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
