@model discgolf_duels.Models.Registration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.CompetitionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Course.CourseName)
        </dd>
        <dt class="col-sm-2">
            Event director
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.PublicUser.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
