@model IEnumerable<discgolf_duels.Models.Registration>

@{
    ViewData["Title"] = "Registrations";
}

<h1>Registrations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competition!.CompetitionName)
            </td>
            <td>
                 @item.RegisterDate.ToString("yyyy-MM-dd HH:mm")
            </td>
            <td>
                <a asp-controller="Competition" asp-action="PublicDetails" asp-route-id="@item.Competition!.CompetitionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegistrationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
