@model IEnumerable<discgolf_duels.Models.Course>

@{
    ViewData["Title"] = "Courses";

@functions {
    public string SumOfDigits(string par)
    {

        // Summera siffrorna i den andra strängen (till exempel @model.course.par)
        int sumOfCoursePar = par.Where(char.IsDigit).Sum(c => c - '0');


        return sumOfCoursePar.ToString();
    }

}
}

<h1>Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Par)
            </th>
            <th>
               Par total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Par)
                </td>
                <td>
                    @SumOfDigits(item.Par)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
